<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    <add key="PYTHONPATH" value="C:\NewDev\smalldata\" />
    <add key="DJANGO_SETTINGS_MODULE" value="smalldata.settings" />
  </appSettings>
  <system.webServer>
    <handlers>
     <add name="Python CSS" path="*.*" verb="GET" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\NewDev\env\smalldata\Scripts\python.exe|C:\NewDev\env\smalldata\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>